<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Portfolio homepage.</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light"> <span class="navbar-brand mb-0 h1">About Me</span> </nav>

  </body>
</html>
