<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <%= stylesheet_link_tag "about" %>
  </head>
  <body>

    <h3>About Me</h3>
    <div class="header">

    </div>

    <p id="intro">
     Hello, my name is Gensel Reyes. I love music and technology.
      I am from Houston, TX and went to the University of Houston
      and majored in Computer Information Systems.
    </p>

  </body>
</html>
