<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <%= stylesheet_link_tag "about" %>
  </head>
  <body>

<!-- Biography -->

  <div class="bio">
    <p id="intro">Hello, my name is Gensel Reyes. I am a software engineer specializing in Full Stack development.
    </p>
  </div>

<!-- Work -->

    <h1 id="work" style="margin-bottom: 5%;">Work</h1>

    <section class="work">

      <div class="technologies" data-aos="fade-left">
        <h3>TECHNOLOGIES</h3>
        <br>
        <p>MS SQL Server</p>
        <p>Oracle SQL</p>
        <p>SVN</p>
        <p>Git</p>
        <p>Jenkins</p>

      </div>

      <div class="frameworks" data-aos="fade-up">
        <h3>FRAMEWORKS</h3>
        <br>
        <p>Rails</p>
        <p>Spring</p>
        <p>Flask</p>
        <p>Bootstrap</p>

      </div>

      <div class="languages" data-aos="fade-right">
        <h3>LANGUAGES</h3>
        <br>
        <p>Java</p>
        <p>Ruby</p>
        <p>Python</p>

      </div>

    </section>

    <h1 style="text-align: center; margin-bottom: 5%;">Projects</h1>

    <div id="projects" class="row justify-content-space-between">
        <div id="java" data-aos="fade-up">
          <p>Java</p>
          <img src="https://img.icons8.com/ios/50/000000/java-coffee-cup-logo.png"/>
        </div>

        <div id="python" data-aos="fade-up">
          <p>Python</p>
          <img src="https://img.icons8.com/ios/50/000000/python.png"/>
        </div>

        <div id="rails" data-aos="fade-up">
          <p>Ruby</p>
          <img src="https://img.icons8.com/ios/50/000000/ruby-programming-language.png"/>
        </div>

        <div id="javascript" data-aos="fade-up">
          <p>JavaScript</p>
          <img src="https://img.icons8.com/ios/50/000000/javascript.png"/>
        </div>

      </div>


<!-- Contact -->


      <div id="contact">
        <h1 style="color: white;">Contact</h1>

      </div>

      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>

  </body>
</html>
