<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <%= stylesheet_link_tag "about" %>
  </head>
  <body>

<!-- Biography -->

  <div class="bio">
    <p id="intro">Hello, my name is Gensel Reyes. I am a software engineer specializing in Full Stack development. I have worked in the Aerospace, Energy and Education industry.
    </p>
  </div>

<!-- Work -->

    <h1 id="work" style="margin-bottom: 7%; margin-top: 2%;">Skills</h1>

    <section class="skills">

      <div class="technologies" data-aos="fade-left">
        <h3>TOOLS</h3>
        <br>
        <p>MS SQL Server</p>
        <p>Oracle SQL</p>
        <p>SVN</p>
        <p>Git</p>
        <p>Jenkins</p>

      </div>

      <div class="frameworks" data-aos="fade-up">
        <h3>FRAMEWORKS</h3>
        <br>
        <p>Rails</p>
        <p>Spring</p>
        <p>Flask</p>
        <p>Bootstrap</p>

      </div>

      <div class="languages" data-aos="fade-right">
        <h3>LANGUAGES</h3>
        <br>
        <p>Java</p>
        <p>Ruby</p>
        <p>Python</p>
        <p>Bash</p>
        <p>PowerShell</p>

      </div>

    </section>

<!-- Experience -->
<div id="experience" class="experience">
    <h1>Experience</h1>

    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration= 2000>
      <div class="card-body">
        <h4 style="color: black" class="KBR">KBR</h4>
        <h7>Nov 2019 - Jan 2020</h7>
        <li>Developed and maintained mission-critical tools used for software deployment.</li>
        <li>Managed free and open source software in a large team environment.</li>
        <li>Developed system scripts and provided documentation of system specifications, system installation procedures, and system test methods. </li>
      </div>
    </div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration= 2000>
      <div class="card-body">
        <h4 style="color: black" class="card-title">Lone Star College</h4>
        <h7>Jan 2018 - Nov 2019</h7>
        <li>Installed, configured, tested, maintained, monitored, and troubleshooted level III end user workstation software, hardware and networking products.</li>
        <li>Constructed, installed and tested customized software configurations based on various platforms and operating systems.</li>
        <li>Resolved more complex issues requiring detailed systems and applications knowledge.</li>
      </div>
    </div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration= 2000>
      <div class="card-body">
        <h4  style="color: black"class="card-title">CITGO Petroleum Corporation</h4>
        <h7>Apr 2017 - Nov 2017</h7>
        <li>Created PowerShell scripts for the automation of Active Directory - User Account/Distribution, Group/Security Group provisioning and management.</li>
        <li>Performed analysis and support for development and maintenance of Microsoft Forefront Identity Manager 2010 R2. (Written in C#)</li>
        <li>Created and terminated user access in Active Directory, FIM, SAP, and AIX/Unix Servers.</li>
      </div>
    </div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration= 2000>
      <div class="card-body">
        <h4 style="color: black" class="card-title">Lone Star College</h4>
        <h7>Jan 2018 - Nov 2019</h7>
        <li>Installed, configured, tested, maintained, monitored, and troubleshooted level III end user workstation software, hardware and networking products.</li>
        <li>Constructed, installed and tested customized software configurations based on various platforms and operating systems.</li>
        <li>Resolved more complex issues requiring detailed systems and applications knowledge.</li>
      </div>
    </div>



</div>

<h1 style="text-align:center;">Projects</h1>

<div class="projects">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Ruby</h5>
          <p class="card-text">Portfolio website written in Ruby using the Ruby on Rails framework.</p>
          <a href="https://github.com/grreyes2/Portfolio"><img src="/Users/gensel/Portfolio/app/assets/images/GitHub-Mark-64px.png" alt="github-mark"></a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>



  </div>
</div>







    <!-- <h1 style="text-align: center;">Projects</h1>

    <div id="projects" class="row justify-content-space-between">
        <div id="java" data-aos="fade-up">
          <p>Java</p>
          <img src="https://img.icons8.com/ios/50/000000/java-coffee-cup-logo.png"/>
        </div>

        <div id="python" data-aos="fade-up">
          <p>Python</p>
          <img src="https://img.icons8.com/ios/50/000000/python.png"/>
        </div>

        <div id="rails" data-aos="fade-up">
          <p>Ruby</p>
          <img src="https://img.icons8.com/ios/50/000000/ruby-programming-language.png"/>
        </div>

        <div id="javascript" data-aos="fade-up">
          <p>JavaScript</p>
          <img src="https://img.icons8.com/ios/50/000000/javascript.png"/>
        </div>

      </div> -->


<!-- Contact -->


      <div id="contact">
        <h1 style="color: white;">Contact</h1>

      </div>


      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>

  </body>
</html>
