// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  max-width: 1280px;

}

//Logo

#logo {
  position: absolute;
  left: 5%;
}

#logo path:nth-child(1) {
  stroke-dasharray: 564.2340698242188px;
  stroke-dashoffset: 564.2340698242188px;
  animation: line-anim 4s ease infinite;
  animation-iteration-count: infinite;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}


//Bio

.bio {
  background-color: #0B4F6C;
  height: 400px;
  width: 100%;
}


#intro{
  padding-top: 15%;
  text-align: center;
  color: white;
}

//Skills

.skills{
  font-family: "courier new";
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10%;
}

.technologies {
  align-items: center;
  float: left;
  margin-left: 10%;
}

.languages {
align-items: center;
float: right;
margin-right: 10%;

}

#work {
  font-size: 40px;
  text-align:center;
}

//Experience
.experience {
  height: 500px;
  text-align: center;
}

.card {
  background-color: white;
  color: #2274ac;
  margin: 10px;
  text-align: left;
}


#experience {
  width: 80%;
  margin: auto;
  margin-bottom: 40%;

}

.lp-pom-text ul, li {
  list-style-type: square !important;
}


//Projects

.projects {

margin: auto;
padding-bottom: 100px;


}

#ml {
  background-color: black;
  height: 200px;
  width: 200px;


}

#js {
  background-color: black;
  height: 200px;
  width: 200px;
}

#python {
  background-color: black;
  height: 200px;
  width: 200px;

}

#ruby {
  background-color: black;
  height: 200px;
  width: 200px;

}



//Contact

#contact {
  text-align: center;
  background-color: #252627;
  height: 600px;
  width: 100%;
}
