// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  max-width: 1280px;

}

//Logo

#logo {
  position: absolute;
  left: 5%;
}

#logo path:nth-child(1) {
  stroke-dasharray: 564.2340698242188px;
  stroke-dashoffset: 564.2340698242188px;
  animation: line-anim 4s ease infinite;
  animation-iteration-count: infinite;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}


//Bio

.bio {
  background-color: #08415C;
  height: 400px;
  width: 100%;
}


#intro{
  padding-top: 15%;
  text-align: center;
  color: white;
}

//Work

.work{
  font-family: "courier new";
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10%;
}


.tools {
  align-items: center;
  float: left;
  margin-left: 10%;
}

.languages {
align-items: center;
float: right;
margin-right: 10%;

}

#work {
  font-size: 40px;
  text-align:center;
}

//Experience

#experience {
  width: 90%;
  margin: auto;
  text-align: center;
}

.card {
  background-color: white;
  border-color: #08415C;
  border-width: medium;
  color: black;
  margin: 10px;
  text-align: left;
}

.lp-pom-text ul, li {
  list-style-type: square !important;
}



//Projects


.projects {

width: 96%;
margin: auto;
padding-top: 100px;
padding-bottom: 10%;

}

@media screen and (max-width: 800px) {
  .projects{
    width: 96%;
    margin: auto;
    margin-top: 1000px;
    padding-bottom: 10%;
  }
}


//Contact

#contact {
  text-align: center;
  background-color: #CC2936;
  height: 600px;
  width: 100%;
}

#notice {
  color: white;
  font-size: 20px;
}

.field {
  width: 40%;
  border-style: solid;
  border-width: medium;
  border-radius: 5px;
  border-color: white;
}

.label {
  color: white;
  text-align: left;
}

.hidden {
  display: none;
}

//Footer

.footer {
  text-align: center;
  color: white;
  background-color: #262626;
}
