// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  max-width: 1280px;

}

//Logo

#logo {
  position: absolute;
  left: 5%;
}

#logo path:nth-child(1) {
  stroke-dasharray: 564.2340698242188px;
  stroke-dashoffset: 564.2340698242188px;
  animation: line-anim 4s ease infinite;
  animation-iteration-count: infinite;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}


//Bio

.bio {
  background-color: #0B4F6C;
  height: 400px;
  width: 100%;
}


#intro{
  padding-top: 15%;
  text-align: center;
  color: white;
}

//Work

.work{
  font-family: "courier new";
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20%;
}

.technologies {
  align-items: center;
  float: left;
  margin-left: 10%;
}

.languages {
align-items: center;
float: right;
margin-right: 10%;

}

#work {
  font-size: 50px;
  text-align:center;
}


#projects {
  justify-content: space-between;
  height: 400px;
  width: 95%;
  margin: auto;
}


//Contact

#contact {
  text-align: center;
  background-color: #252627;
  height: 600px;
  width: 100%;
}
